@charset "utf-8";
/*通用基础样式*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	font-size:12px;
	font-family: "微软雅黑","黑体",Arial;
	color: #666;
	background: #fff;
}
a{
	text-decoration: none;
	color: #666;
}
a:hover{
	text-decoration: underline;
	color: #E4393C;
}
.lt{
	float: left;
}
.rt{
	float: right;
}
.clr{
	clear: both;
}

/*页面基本布局样式*/
#top{
	width: 100%;
	background:#F7F7F7;
	border-bottom: 1px solid #EEE;
	height: 30px;
}
#top_bar,#top_main,#nav,#main,#may_like,#recent_view,#foot_bar,#footer{
	width: 1210px;
	margin: 0 auto;
}
#top_bar{
	line-height: 30px;
}
#top_bar>img:first-child:hover{
	transform: rotate(360deg);
	transition: transform 300ms linear 0;
}
#top_bar > ul > li{
	float: left;
	margin-right: 10px;
	position: relative;
}
#top_bar li b{
	border-left: 1px solid #ddd;
	margin-right: 10px;
}
#vip a{
	padding-left: 27px;
	background: url(../images/vip.jpg) left center no-repeat;
}
#dakehu a{
	padding-left: 27px;
	background: url(../images/dakehu.jpg) left center no-repeat;
}
#app_jd > span > a{
	padding-right: 15px;
	background: url(../images/jt_down.jpg) right center no-repeat;
}
#app_jd > span{
	padding: 7px 3px 7px 18px;
	border: 1px solid transparent;
	background: url(../images/iconlist_2.png) -125px -358px no-repeat;
	position: relative;
	z-index: 3;
}
#app_jd > span:hover{
	background-position: -125px -397px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: #fff;
}
#app_jd > span > a:hover{
	background: url(../images/jt_up.jpg) right center no-repeat;
}
#customer_service > a{
	padding: 7px 18px 7px 3px;
	background: url(../images/jt_down.jpg) 55px center no-repeat;
	border: 1px solid transparent;
	position: relative;
	z-index: 3;
}
#customer_service > a:hover{
	background: url(../images/jt_up.jpg) 55px center no-repeat;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: #fff;
}
#site_map > a{
	padding: 7px 18px 7px 3px;
	background: url(../images/jt_down.jpg) 55px center no-repeat;
	border: 1px solid transparent;
	position: relative;
	z-index:3;
}
#site_map > a:hover{
	background: url(../images/jt_up.jpg) 55px center no-repeat;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: #fff;
}
div.top_bar_dropdown{
	position: absolute;
	background-color: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 0 2px 2px #eee;
	z-index:2;
	display: none;
	top: 27px;
}
#cs_dropdown{	/*客户服务下拉菜单*/
	width: 68px;
	text-align: center;
	left: 11px;
}
#sm_dropdown{	/*站点地图 下拉框*/
	width: 215px;
	padding: 15px;
	left: -165px;
}
#sm_dropdown li{
	float: left;
	margin: 0 10px;
}
#sm_dropdown .clr{
	border-bottom: 1px solid #ddd;
}
#aj_dropdown{	/*手机京东 下拉框*/
	width: 220px;
	background: #fff url(../images/app_jd_1.png) center 10px no-repeat;
	padding: 10px;
	left: 11px;
	z-index:2;
}
#aj_dropdown  > div:first-child{
	margin-top: 35px;
	padding-left: 105px;
	height: 100px;
	background: url(../images/app_jd_erwei.jpg) 25px 20px no-repeat;
}
#aj_dropdown  > div:last-child{
	margin-top: 5px;
	padding-left: 105px;
	height: 100px;
	background: url(../images/app_jd_wangyin.png) 25px 20px no-repeat;
}

#aj_dropdown  div div{
	width: 97px;
	height: 30px;
	background: url(../images/iconlist_2.png) 0 -360px no-repeat;
	cursor: pointer;
	margin: 4px 0;
}

/*LOGO和搜索栏*/
#top_main{
	background: #fff;
	height:60px;
	padding: 15px 0;
}
#top_main > img:first-child{
	cursor: pointer;
	margin-right: 60px;
}
#search_box{
	position: relative;
}
#search{
	border: 2px solid #E4393C;
	background-color: #E4393C;
}
#search [type=text]{
	width:415px;
	height:30px;
	padding: 5px;
	line-height: 20px;
	font-size: 14px;
	color: #666;
	outline: none;
}
#search [type=button]{
	background-color: #E4393C;
	border: none;
	width: 80px;
	height: 30px;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}
#hot_search{
	margin: 5px auto 0 auto;
	text-align: center;
}
#search_dropdown{
	position: absolute;
	width: 430px;
	border: 1px solid #E4393C;
	background-color: #fff;
	top:48px;
	box-shadow: 0 0 2px 2px #ddd;
	display: none;
}
p.item{
	line-height: 28px;
	padding: 5px;
	overflow: hidden;
}
p.item:hover{
	background-color:#FFDFC6;
}
#my_jd_box{/*盛放 my_jd 和 my_jd_dropdown的容器*/
	position: relative;	
}
#my_jd{
	margin: 10px 0 0 87px;
	width: 75px;
	height: 30px;
	border: 1px solid #efefef;
	background: #f7f7f7 url(../images/iconlist_2.png) -118px -25px no-repeat;
	line-height: 30px;
	padding-left: 30px;
	position: relative;
	z-index:1;
}
#my_jd > b{
	border: 5px solid #ccc;
	border-color: #ccc transparent transparent transparent;
	border-width: 5px 5px 1px 5px;
	display: inline-block;
}
#my_jd_dropdown{
	position: absolute;
	border: 1px solid #efefef;
	width: 250px;
	height: 200px;
	background-color: #fff;
	left: -8px;
	top: 40px;
	z-index: 0;
	display: none;
}
#settle_up_box{
	margin:10px 0 0 12px;
	position: relative;
}
#settle_up{
	width: 95px;
	height: 30px;
	border: 1px solid #efefef;
	background: #f7f7f7 url(../images/iconlist_2.png) -118px -25px no-repeat;
	line-height: 30px;
	padding-left: 30px;
	position: relative;
	z-index:1;
}
#settle_up > b{
	border: 5px solid #ccc;
	border-color: #ccc transparent transparent transparent;
	border-width: 5px 5px 1px 5px;
	display: inline-block;
}
#settle_up_dropdown{
	width: 200px;
	height: 200px;
	background-color: #fff;
	border: 1px solid #efefef;
	position: absolute;
	left: -75px;
	top: 30px;
	display: none;
}







#nav{
	background-image: linear-gradient(to top, #E13335 0%, #E64346 100%);
	height:40px;
}
#main{
	background: #afa;
	height:100px;
}
#may_like{
	border: 1px solid #ddd;
	border-top: 2px solid #999;
	height: 276px;
	background: #faa;
}
/*最近浏览*/
#recent_view{
	border: 1px solid #ddd;
	border-top: 2px solid #999;
	background: #fff;
	width: 1208px;
}
#recent_view > p{
	margin: 8px;
}
#recent_view .product{
	margin: 15px;
}
.product p{
	text-align: center;
	color: #E3393C;
}
/*购物指南*/
#foot_bar{
	border-width: 2px 0 1px 0;
	border-color: #ddd #fff #f1f1f1 #fff;
	border-style: solid;
	margin-top: 10px;
}
#foot_bar .icon{
	margin:20px 10px 0 50px;
	width: 35px;
	height: 35px;
	background-image: url(../images/iconlist_2.png);
	background-repeat: no-repeat;
}
#icon1{
	background-position: -4px -59px;
}
#icon2{
	background-position: -4px -59px;
}
#icon3{
	background-position: -4px -59px;
}
#icon4{
	background-position: -4px -59px;
}
#icon5{
	background-position: -4px -59px;
}
#foot_bar .guide{
	margin: 15px 50px 15px 0px;
	line-height: 20px;
}
#foot_bar h3{
	margin-bottom: 10px;
}

/*页脚*/
#footer{
	margin:20px auto 30px auto;
	text-align: center;
}
#footer > p{
	margin-bottom: 1.5em;
}
#footer > img{
	cursor: pointer;
	margin: 2em 10px 0 10px;
}
