body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1109px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:5px;
  width:1099px;
  height:557px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1099px;
  height:557px;
}
#u1 {
  position:absolute;
  left:2px;
  top:270px;
  width:1095px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:33px;
  top:31px;
  width:147px;
  height:49px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:49px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:33px;
  top:31px;
  width:73px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:33px;
  top:69px;
  width:165px;
  height:39px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:39px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:33px;
  top:80px;
  width:92px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:910px;
  top:53px;
  width:190px;
  height:43px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1000px;
  top:80px;
  width:109px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:947px;
  top:320px;
  width:83px;
  height:39px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:947px;
  top:401px;
  width:83px;
  height:39px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:947px;
  top:481px;
  width:83px;
  height:39px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:20px;
  top:130px;
  width:910px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:26px;
  top:190px;
  width:214px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:833px;
  top:682px;
  width:147px;
  height:28px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:28px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:947px;
  top:550px;
  width:162px;
  height:37px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:37px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
