div.center {
    width: 100px;
    height: 100px;
    margin: auto; /*水平居中*/
    background-color: lightgrey;
    border: 1px solid red;
}

p.center {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    background-color: lightsteelblue;
    text-align: center;
}