img.opacity {
    opacity: 0.4;
    filter: alpha(opacity=40); /*适用 IE8 及其更早版本*/
}

img.opacity:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /*适用 IE8 及其更早版本*/
}

div.background {
    width: 500px;
    height: 250px;
    background: url("../image/klematis2_small.jpg") repeat;
    border: 2px solid black;
}

div.transbox {
    width: 400px;
    height: 180px;
    margin: 30px 50px;
    background-color: #ffffff;
    border: 1px solid red;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

div.transbox p {
    margin: 30px 40px;
    font-weight: bold;
    color: #000000;
}