@charset "utf-8";
/*reset */
html,body,div,p,span,img,em,i,cite,pre,object,code,del,hr,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,frame,iframe,fieldset,form,table,caption,tbody,thead,tfoot,tr,td,th,label,legend{margin:0;padding:0; border:0; font:12px/1.5em "微软雅黑",Tahoma,"\534E\6587\5B8B\4F53";}
input,seclect,textarea{margin:0;padding:0;color:#666; font-family:Tahoma; font-size:12px}
ul,ul li,ol,ol li,dl,dl dd{ list-style:none;}
table,tr,td{ border-collapse:collapse;}
pre{white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap;word-wrap: break-word;white-space : normal ;}
a:hover{ color:#333}
select,img,input{ vertical-align:middle;}
/*ClearFix */
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
*html .clearfix {height:1%;}
*+html .clearfix{height:1%;}
.clearfix{display:inline-block;}
.clearfix {display:block;}
.clear{ clear:both; overflow:hidden;_zoom:1;}

a{color:#666; text-decoration:none}
a {bblr:expression(this.onFocus=this.blur()); outline:none;}

/* scrollbar */
/*::-webkit-scrollbar{width:6px;height:10px;}
::-webkit-scrollbar-track-piece{-webkit-box-shadow:inset 2px 2px 6px rgba(0,0,0,.5);-webkit-border-radius:8px;}
::-webkit-scrollbar-thumb:vertical{background-color:#333;-webkit-border-radius:8px; border:solid 1px #ccc}*/

html,body{ height:100%}
