a[href='javascript:;']:hover {
    text-decoration: underline;
}

h4 {
    font-family: "Î¢ÈíÑÅºÚ"
}

body {
    font-family: "Î¢ÈíÑÅºÚ"
}

.picture {
    text-align: center;
    line-height: 400px;
}

.picture img {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-top: -20px
}

.picture strong {
    font-family: "Î¢ÈíÑÅºÚ";
    font-weight: bold;
    font-size: 30px;
    color: #999
}

.operate1 p {
    display: inline-block;
    cursor: pointer;
    width: 20%;
}

.top_tit01{ height:99px;line-height: 99px;background: #fff;padding-left: 30px;width:97%;margin:20px auto;font-size: 28px;}
.wrap01{margin: 0 40px 0 40px;background: #fff;border: solid 1px #e6e6e6;border-top: none;}
td a{margin: 0 10px; cursor: pointer;}
.pop_cnt{ position:fixed; width:792px; left: 50%; top: 50%; margin: -135px 0 0 -386px; border: 2px solid #e6e6e6}
.pop_cnt .info1{padding:15px 0 0 15px; margin:0; min-height:200px; max-height: 400px; overflow-y:auto;}
.pop_cnt .info1 li{line-height:34px; margin:0 20px 10px 0; float:left; text-align:center; padding:130px 0 0; width:100px;}
.pop_cnt .info1 li img{height:100px; width:100px; margin-top:-132px; display:block;}
.table{border: solid 1px #E4E5E7;margin-top: 30px;border-left: none;border-right: none;}
.table thead{background: #f7f9fa;}
.table thead tr{height:46px;}
.table thead tr th{text-align: center;color: #6A6C6F;font-size: 12px;line-height: 29px;}
.table tbody tr{height: 68px;}
.table tbody tr td{line-height: 68px;text-align: center;}
.table tbody tr td a{margin-right: 10px;}

/*pre{*/
    /*display:none;*/
/*}*/

