<li>
    <strong class="tit">{{msg}}：</strong>
    <label class="" ng-repeat="item in labelArr">
        <div ng-click="change($index,item,$event)" class="iradio_square-green" ng-class="{checked:$index===correctValueIndex}" style="position: relative;">
            <input type="radio" class="i-checks" style="position: absolute; opacity: 0;">
            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);">

            </ins>
        </div>
        {{item}}
    </label>
</li>